.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas: ". . . Name-Space Name-Space Home Publications Projects Portfolio Publicity . ." 
    ". . . Journal-Title Journal-Title Journal-Title Journal-Title Journal-Title Journal-Title Journal-Title . ." 
    ". . . Photo Journal-Pub Journal-Pub Journal-Pub Journal-Pub Journal-Pub Journal-Pub . ."
    ". . . Conf-Title Conf-Title Conf-Title Conf-Title Conf-Title Conf-Title Conf-Title . ." 
    ". . . Photo Conf-Pub Conf-Pub Conf-Pub Conf-Pub Conf-Pub Conf-Pub . ."
    ". . . Footer Footer Footer Footer Footer Footer Footer Footer .";
}

.Name-Space { grid-area: Name-Space;
  margin-top: 0px; 
  vertical-align: text-top }

.Journal-Title { grid-area: Journal-Title; }

.Journal-Pub { grid-area: Journal-Pub; 
  border-bottom-style: solid;
  border-color: grey }

.Conf-Title { grid-area: Conf-Title; }

.Conf-Pub { grid-area: Conf-Pub; 
  border-bottom-style: solid;
  border-color: grey }

.Footer { grid-area: Footer; 
  border-top-style: solid;
  border-color: red }

.Home { grid-area: Home;
  margin-top: 25px; }

.Publications { grid-area: Publications; 
  margin-top: 25px; }

.Projects { grid-area: Projects; 
  margin-top: 25px; }

.Portfolio { grid-area: Portfolio; 
  margin-top: 25px; }

.Publicity { grid-area: Publicity; 
  margin-top: 25px; }

body {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  font-size:14px;
  background-color: #ffffff }
h1 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-size:40px }
h2 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-size:15px;
  line-height:0pt }
h3 {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  font-size:32px;
  line-height:0pt }
footer {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
  color: black;
  font-size:13px }

