.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  grid-template-areas: ". Name-Space Name-Space Home Publications Projects Portfolio Publicity ." ". Photo Photo Main-Body Main-Body Main-Body Main-Body Main-Body ." ". Footer Footer Footer Footer . . . .";
}

.Name-Space { grid-area: Name-Space; }

.Photo { grid-area: Photo; }

.Main-Body { grid-area: Main-Body; }

.Footer { grid-area: Footer; }

.Home { grid-area: Home; }

.Publications { grid-area: Publications; }

.Projects { grid-area: Projects; }

.Portfolio { grid-area: Portfolio; }

.Publicity { grid-area: Publicity; }

body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
    background-color: #ffffff }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
    font-size: 40px }
  h2 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
    font-size:15px }
